body{
background:#0f172a;
font-family:Arial;
color:white;
margin:0;
}

.container{
width:90%;
margin:auto;
padding:30px;
}

header{
text-align:center;
margin-bottom:30px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

select, textarea{
width:100%;
padding:10px;
margin-top:10px;
background:#0f172a;
color:white;
border:1px solid #334155;
border-radius:5px;
}

textarea{
height:150px;
}

button{
padding:12px 20px;
background:#f59e0b;
border:none;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

.mainBtn{
width:100%;
font-size:16px;
}
